body
{
	background-color: darkblue;
	margin: 0px;
	padding: 0px;
}

#main
{
	width: 80%;
	min-height: 900px;
	background-color: #99aaff;
	margin: auto;
	border: 5px black solid;
	margin-bottom: 10px;
}

header div
{
	height: 100px;
	background-image: url("../Images/header.jpg")
}

header h1
{
	font-family: 'Century Gothic', 'Futura', san-serif;
	font-size: 70px;
	text-align: center;
	margin-top: 3px;
	border-bottom: 2px solid currentcolor;
	margin-bottom: 2%;
}

nav
{
	padding-left: 10%;
	background-color: darkblue;
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


li
{
	float: left;
	padding-left: 1%;
	padding-right: 4%;
}

li a
{
	display:block;
	color:white;
	text-align: center;
	padding: 14px 60px;
	text-decoration: none;
}

li a:hover
{
	background-color: gold;
	color: black;
}

#content p
{
	font-size: 24px;
	margin: 0% 10%;
	margin-bottom: 3%;
}

#content h3
{
	font-size: 28px;
	margin: 3% 10% 0% 10%;
	text-decoration: underline;
}

.champs
{
	text-align: center;
}

footer
{
	color: white;
	background-color: darkblue;
	font-family: 'Century Gothic', 'Futura', san-serif;
	text-align: center;
	padding: 3px;
	border: 3px solid black;
}

#clientimg
{
	width: 70%;
	display: inline-block;
	margin: auto;
	margin-left: 6.5%;
}

#clientdesc
{
	text-align: center;
	font-size: 30px;
	padding-right: 5%;
	padding-left: 5%;
}

.buttons
{
	margin-left: 10%;
	margin-right: 10%;
}

.prev
{
	display: inline-block;
	padding: 0;
	float: left;
	background-image: url("../Images/button_l.png");
	height: 365px;
	width: 96px;
	opacity: 0.8;
	margin-top: 4%;
}
.prev:hover
{
	opacity: 1;
}

.next
{
	display: inline-block;
	padding: 0;
	background-image: url("../Images/button_r.png");
	height: 365px;
	width: 96px;
	opacity: 0.8;
	float: right;
	margin-top: 4%;
}

.next:hover
{
	opacity: 1;
}

.champ_img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: 4px solid black;
	margin-bottom: 10px;
}

h5
{
	font-size: 26px;
	text-align: center;
}

h4
{
	font-size: 24px;
	text-decoration: underline;
	margin: 0% 10%;
	margin-bottom: 1%;
}

.ability
{
	margin-left: 10%;
	margin-right: 1%;
	border: 2px solid darkblue;
	display: inline-block;
	float:left;
}

.runes
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.combo
{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.build
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	margin-bottom: 3%;
}

hr
{
	border: 1px solid black;
}

.genInp
{
	width: 375px;
	display: block;
	border: 1px darkblue solid;
	height: 25px;
}

.clickInp
{
	border: 1px darkblue solid;
	margin-bottom: 7px;
	margin-right: 10px;
}

textarea
{
	width: 375px;
	height: 200px;
}

.errorMsg
{
	color: darkred;
	font-size: 15px;
	font-weight: bold;
}

.question
{
	margin: 0% 10%;
	margin-bottom: 3%;
}
#format
{
	margin: 0% 10%;
	margin-bottom: 3%;
}
ol 
{
	margin: 0% 10%;
	margin-bottom: 3%;
}

sup
{
	font-weight: bold;
}

#listt
{
	margin: auto;
}

td img
{
	width: 200px;
	height: 150px;
}

table
{
	margin: 0% 10%;
	margin-bottom: 3%;
}
